

# PostgreSQL pour la base de données
psycopg2-binary

# Gestion et manipulation de données
pandas

#Gunicorn
gunicorn

# Flask pour le serveur web
Flask

# Authentification JWT pour Flask
Flask-JWT-Extended

# Limiteur de taux pour limiter les requêtes dans Flask
Flask-Limiter

# Flask CORS pour les requêtes cross-origin
Flask-Cors

# Prometheus pour la surveillance
prometheus-client

# MongoDB client pour base de données NoSQL
pymongo

# Calcul numérique pour les vecteurs et matrices
numpy

# Bibliothèque pour envoyer des requêtes HTTP
requests

